@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  background: url("/Pictures/backgrounds/philipp-lansing-RdXkRumbDt4-unsplash.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.l {
  font-family: "Jura", sans-serif;

  color: beige;
}

.form1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 10px;
}

input {
  border-radius: 20px;
  border: none;
  padding: 10px;
}

.loginbtn {
  border: none;
  border-radius: 20px;

  background-color: beige;
  color: 111f;

  width: 80px;
}
